/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.combo-box{
    -fx-font-size: 12px;
    -fx-font-color: #00BFB1;
    -fx-padding: 0px;
    -fx-font-weight: 700;
    -fx-font-family: 'Arial','sans-serif';
    
}

.combo-box:hover{
    -fx-text-fill: white;
}

.combo-box .list-view{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-background-color: white;
    -fx-padding: 0px;
    -fx-font-weight: 12;
}

.combo-box .list-view .list-ce:filled{
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-wight: 700;
}